# Entorno virtual
venv/
ENV/
.env

# Base de Datos (opcional, si no quieres subir tus pruebas)
instance/
*.db

# Archivos temporales de Python
__pycache__/
*.py[cod]

__pycache__/
instance/
.env
*.db
venv/
.vscode/